.backgroundColor {
  background-color: var(--color-shocking-pink);
}

.color {
  color: var(--color-gray-100);
}

.accentColor {
  color: var(--color-shocking-pink-accent);
}

.focusColor {
  &:hover,
  &:focus {
    color: var(--color-gray-100);
  }
} 
